body {
  font-family: sans-serif;
  background: #eee;
  box-sizing: border-box;
}

ul, p, h1, form {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

button, a {
  cursor: pointer;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

.chatroom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 400px;
  min-height: 500px;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 15px;
  background: #aaa;

}

.chatroom .current-room, .chatroom .users {
  text-align: center;
}

.chatroom .messages {
  border: 1px solid #aaa;
  border-radius: 3px;
  margin: 15px 0;
  height: 345px;
  background: white;
  overflow: scroll;
  padding: 15px;
}

.messages li {
  width: 100%;
  margin: 10px 0;
}

.messages .left {
  text-align: left;
}

.messages .right {
  text-align: right;
}

.send-message {
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  width: calc(100% - 32px);
  height: 37px;
}

.send-message input {
  display: block;
  float: left;
  width: calc(100%);
  height: 100%;
  margin: 0;
  font-size: 18px;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px;
}

.announcement {
  font-style: italic;
  text-align: center;
  color: #aaa;
}

.question {
  position: absolute;
  z-index: 100;
  left: 30px;
  top: 30px;
  font-size: 40px;
  padding: 10px 22px;
  border-radius: 50%;
  border: 3px solid #aaa;
}

.question:hover {
  background: rgba(255,105,180,.6);
}

input:focus, .question:focus {
  outline: none;
}

.info {
  position: absolute;
  z-index: 50;
  bottom: 0;
  width: 400px;
  background: white;
  left: 100%;
  transition: left .5s;
  bottom: 50%;
  padding: 15px;
  transform: translateY(50%);
  border: 3px solid rgb(255,105,180);
}

.info.transitioning {
  display: block;
}

.info h1 {
  text-align: center;
}

.info p {
  margin: 15px 0;
}

.info a {
  color: rgb(255,105,180);
}

.info.displayed {
  display: block;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}

.screen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  background: rgb(200,200,200);
}

.screen.on {
  display: block;
  opacity: .5;
  transition: opacity 5s;
}
